<div class = "header">
<h1 class = "appname">Mini Cart</h1>

<input text = "text" placeholder = "search for the product"/>
<select>
    <option>All (Ratings)</option>
    <option>Above 4</option>
    <option>Above 3</option>
    <option>Below 3</option>
</select>
<button>my cart ({{cartCount}})</button>
</div>
<div *ngFor = "let item of items; let i = index" class = "product">
<img [src] = "item.images" alt = "{{item.title}}" class = "image"/>
<h1 class = "name">{{item.title}}</h1>
<p class = "price">Price: ${{item.price}}</p>
<p class = "description"> Description: {{item.description}}</p>
<p class = "price"> Rating: {{item.rating}}</p>
<p class = "price">Stock: {{item.stock}}</p>
<button class = "add-to-cart" (click) = "addtocart(i)" style = "text-align: center;">Add to cart</button>
</div>

