<div class="products">

 <h1 class = "head">S Mart</h1>   
<input type = "text" class = "input" placeholder="search for products"/>

<select class = "filter">
    <option>ALL</option>
    <option>IN STOCK</option>
    <option>OUT OF STOCK</option>

</select>
<button class = "button">My Cart</button>
</div>
<div *ngFor = "let product of products" class = "product">
    <img [src] = "product.images" alt = "{{product.title}}" class = "image"/>
    <h2 class = "name">{{product.title}}</h2>
    <p class = "price">${{product.price}}</p>
    <p class = "description">{{product.description}}</p>
    <button class = "add-to-cart">Add to Cart</button></div>