/* You can add global styles to this file, and also import other style files */
.success{
    height:120px;
    width:130px;
    padding:10px;
    border:1px solid black;
    background-color: greenyellow;
    border-radius: 5px;
}